<!-- header starts -->    


<header class="cv_header">     
    <div class="cv_header_left">
        <figure class="profile_image">
            <img src="{{ site.baseURL }}/assets/images/{{ site.author.photo }}" alt="Una fotografía profesional de {{ site.author.name }}" title="Una fotografía profesional de {{ site.author }}">
        </figure>
        <h1 class="title">{{ site.author.name }}</h1>
        <h2 class="title2"> {{ site.author.title }} </h2>    
    </div>
    {%  include "cvSocialNavBar.njk" %}     
</header>

<!-- header ends -->