<!-- header starts -->    
<header class="header no-print">
    <!-- main nav starts -->
    <nav class="main-nav">
        <div class="nav-container">
            <a href="/" class="link"> {{ site.author.name }}</a>
            <button class="nav-toggle" aria-label="toggle navigation">
                <img src="{{ site.baseURL }}/assets/icons/hamburguer.svg" class="icon-open" alt="Abrir menú">
                <img src="{{ site.baseURL }}/assets/icons/squarex.svg" class="icon-close" alt="Cerrar menú">
            </button>
            <ul class="nav-links">
                {% for section in site.sections %}
                    <li class="link">
                        <a href="{{ section.url }}" class="links">{{ section.name }}</a>
                    </li>
                {% endfor %}  
            </ul>
        </div>
    </nav>    
        
</header>
<!-- header ends -->