<!-- header starts -->    
<header class="header">    
    <div class="header-main-content">
        <figure class="profile_image">
            <img src="{{ headerImg | safe }}" 
                alt="Una fotografía profesional de {{ headerTitle | safe }}" 
                title="Una fotografía profesional de {{ headerTitle | safe }}">
        </figure>
        <div class="header_contenido">
            <h1 class="title">{{ headerTitle | safe }}</h1>           
            <h2  class="paragraph_subtitle">
                {{ headerSubtitle | safe }}
            </h2>
            {% include "headerNavBar.njk" %}
            
            {{ headerDescription | safe }}            

        </div>
    </div>        
</header>
<!-- header ends -->
