{% include "head.njk" %}

  {% if styles %}
    {% for css in styles %}
      <link rel="stylesheet" href="{{ site.baseURL }}/assets/styles/{{ css }}.css">
    {% endfor %}
  {% endif %}
</head>
<body>  
  {% include "navBarMain.njk" %} 
  <main class="container_main">
    {{ content | safe }}
  </main>
  {% include "footer.njk" %}
  
  <script src="/assets/scripts/main.js"></script>
  <script src="/assets/scripts/form.js"></script>
  
</body>
</html>