<section class="section" id="habilidades" >
    <header class="section_header">        
        <h2 class="title">{{ skills.title }}</h2>
        <h3 class="paragraph_subtitle">
            {{ skills.subtitle }}                         
        </h3>
    </header>
    <p>{{ skills.introParagraph }}</p>
    <div class="cards_container">
        {% for skill in skills.skillCards %}
        <div class="card_quote">
            <div class="card_quote_header">
                <h3 class="title2">{{ skill.title }}</h3>
            </div>
            <p class="paragraph_card_quote">{{ skill.description }}</p>
        </div>
        {% endfor %}
    </div>
</section>
