---
layout: layoutProject
summary:
  title: "Indice de la Home page"
  subtitle: "Que pueden encontrar en la Home page de mi sitio?."
  links:
    - href: "#proyectos"
      text: "Proyectos"
    - href: "#habilidades"
      text: "habilidades"
    - href: "#tecnologias"
      text: "tecnologias"
    - href: "#contacto"
      text: "contacto"
---
{% include "projectsShowcase.njk" %}