---
layout: layoutProject
title: "Indice de proyectos"
summary:  
  subtitle: "Que pueden encontrar en esta seccion ?."
  links:
    - href: "#proyectos"
      text: "Proyectos"
    - href: "#habilidades"
      text: "habilidades"
    - href: "#tecnologias"
      text: "tecnologias"
    - href: "#contacto"
      text: "contacto"
---
{% include "projectsShowcase.njk" %}