---
layout: layoutProject.njk
projectIndex: 0
summary:  
  title: "Monitoreo remoto - proyecto completo"
  subtitle: "Puntos importantes del proyecto"
  links:
    - href: "#caracteristicas"
      text: "caracteristicas"
    - href: "#imagenes"
      text: "imagenes"
    - href: "#habilidades"
      text: "habilidades"
    - href: "#tecnologias"
      text: "tecnologias"    
---

{% include "showProjectHeader.njk" %}

{% include "indexSummary.njk" %}

{% set images = projects.list[projectIndex].images  %}
{% include "portfolioSlider.njk" %}

<section class="section" id="proyecto_contenido" >

  <h3 class="title2"  id="{{ summary.links[0].text }}">📝 {{ summary.links[0].text }} </h3>    

  <p>  
    Esta aplicación, con una arquitectura <strong>SPA (Single Page Application)</strong> y un backend <strong>API RESTful</strong>, está diseñada para la administración de usuarios, equipos electrónicos y datos de funcionamiento de equipos electromecánicos. Los datos se monitorean <strong>24/7</strong> y el sistema notifica cambios críticos a los responsables de cada área.
  </p>  
  <p>
    Además, el servidor ejecuta <strong>cronJobs</strong> para supervisar los dispositivos, verificando que no excedan los niveles de alarma predefinidos. Si se superan estos umbrales, se envían notificaciones por correo electrónico a los responsables del área mediante <strong>NodeMailer</strong>.
  </p>
    

  <h3 class="title2" id="{{ summary.links[2].text }}">🛠️ {{ summary.links[2].text }} </h3>

  <p>  
    En este proyecto, apliqué una variedad de habilidades técnicas para lograr un resultado robusto y funcional:
  </p>
  <ul>
    <li>
      <strong>🎨 Figma:</strong> Lo utilicé para el diseño integral de la interfaz gráfica. Creé componentes para las distintas secciones, aplicando principios de <strong>Atomic Design</strong>, lo que facilitó la posterior implementación en React.js.
    </li>
    <li>
      <strong>⚛️ React.js:</strong> Siguiendo el diseño de Figma, desarrollé el frontend de la aplicación web consumiendo la API. Para ello, empleé herramientas como <strong>Vite.js</strong>, <strong>useContext</strong>, <strong>Axios</strong>, <strong>dotenv</strong>, <strong>crypto-js</strong> y <strong>use-local-storage-state</strong>.
    </li>
    <li>
      <strong>🚀 Node.js:</strong> Implementé un servidor web con <strong>Express</strong> como una <strong>API</strong> que sirve datos desde una base de datos <strong>MySQL</strong>. Todas las consultas se escribieron sin el uso de un ORM. Se crearon alrededor de <strong>40 endpoints</strong>, la mayoría protegidos con un middleware que utiliza <strong>JSON Web Token (JWT)</strong> y <strong>bcrypt</strong> para el almacenamiento seguro de datos críticos.
    </li>
    <li>
      <strong>⏰ CronJobs y Notificaciones:</strong> El servidor ejecuta tareas programadas (cronJobs) para monitorear constantemente los datos de los dispositivos. Si se detectan anomalías que superan los niveles de alarma, se envían alertas por correo electrónico a los responsables utilizando <strong>NodeMailer</strong>.
    </li>
  </ul>
 

  <h3 class="title2" id="{{ summary.links[3].text }}">🚀 {{ summary.links[3].text }} </h3>
  <p>  
    Para el desarrollo de esta aplicación, utilicé una variedad de tecnologías y herramientas que me permitieron crear una experiencia de usuario atractiva y funcional. Entre las principales tecnologías que empleé se encuentran: <strong>React.js</strong>, <strong>Node.js</strong>, <strong>Express</strong>, <strong>MySQL</strong>, <strong>JWT</strong>, <strong>bcrypt</strong>, <strong>Nodemailer</strong>, <strong>Figma</strong>, <strong>Vite.js</strong> y <strong>Axios</strong>.
  </p>


  

</section>
