---
layout: layoutbase
---
{% set headerDescription = '<a href="bajar" id="download-cv" class="btnCTA no-print">Descargar CV</a>
                            <p class="paragraph_subtitle no-print">[CTRL+P] para imprimir o descargar.</p>'  %}
{% set headerTitle = site.author.name %}
{% set headerSubtitle = site.author.title %}
{% set headerImg = site.baseURL + "/assets/images/" + site.author.photo %}
{% set headerItems = site.cvContacsLinks %}
{% set headerNavBar = "headerNavBar.njk" %}
{% include "header.njk" %}

<section class="cv-summary">
  <h2>{{ cv.summary.title }}</h2>
  <p>{{ cv.summary.content }}</p>
</section>

<section class="cv-experience">
  <h2>{{ cv.experience.title }}</h2>
  {% for job in cv.experience.jobs %}
  <article class="job">
    <div class="job-header">
      <h3>{{ job.title }} - {{ job.company }}</h3>
      <p class="job-location-date">{{ job.location }} | {{ job.date }}</p>
    </div>
    <ul class="job-duties">
      {% for duty in job.duties %}
      <li>{{ duty }}</li>
      {% endfor %}
    </ul>
  </article>
  {% endfor %}
</section>

<h2>{{ cv.education.title }}</h2>
<section class="cv-education">
  {% for course in cv.education.courses %}
  <article>
    <h3>{{ course.title }}</h3>
    <h4>{{ course.institution }}</h4>
    <p class="education-location-date">{{ course.location }} | {{ course.date }}</p>
    <p>{{ course.description }}</p>
    {% if course.details %}
    <p class="no-print">{{ course.details }}</p>
    {% endif %}
    {% if course.extra_content %}
    <p>{{ course.extra_content | safe }}</p>
    {% endif %}
    {% if course.project_details %}
    <p class="no-print">{{ course.project_details | safe }}</p>
    {% endif %}
    {% if course.link %}
    <a href="{{ course.link.url }}" class="link no-print" target="_blank" rel="noopener noreferrer">{{ course.link.text }}</a>
    {% endif %}
    {% if course.project_link %}
     <p>Ejemplo de un proyecto de No Country: <a href="{{ course.project_link.url }}" class="link"  target="_blank" rel="noopener noreferrer">{{ course.project_link.text }}</a>
          </p>
    {% endif %}
    {% if course.links %}
      {% for link in course.links %}
        <a href="{{ link.url }}" class="link no-print" {% if link.download %}download{% endif %} target="_blank" rel="noopener noreferrer">{{ link.text }}</a>
      {% endfor %}
    {% endif %}
  </article>
  {% endfor %}
</section>

<section class="cv-skills">
  <article>
    <h2>{{ cv.skills.title }}</h2>
    <p>
      {% for skill in cv.skills.content %}
      {{ skill | safe }}<br>
      {% endfor %}
    </p>
  </article>
</section>

<script>
  document.getElementById('download-cv').addEventListener('click', function(event) {
    event.preventDefault();
    window.print();
  });
</script>
