---
layout: layoutbase
title: "Indice de la Home page"
summary:  
  subtitle: "Que pueden encontrar en la Home page de mi sitio?."
  links:
    - href: "#proyectos"
      text: "Proyectos"
    - href: "#habilidades"
      text: "habilidades"
    - href: "#tecnologias"
      text: "tecnologias"
    - href: "#contacto"
      text: "contacto"
scripts: ['form']
---
{% set headerDescription = '<p>' + site.author.bio + '</p>' %}
{% set headerTitle = site.author.name %}
{% set headerSubtitle = site.author.title %}
{% set headerImg = site.baseURL + "/assets/images/" + site.author.photo %}
{% set headerItems = site.socials %}
{% include "header.njk" %}
{% include "indexSummary.njk" %}
{% include "projectsShowcase.njk" %}
{% include "skills.njk" %}
{% include "tecnologies.njk" %}
{% include "contact.njk" %}
